network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.alias }}:
      addresses:
        - {{ ansible_default_ipv4.address }}/24
      nameservers:
        search: 
          - {{ ad_domain }}
        addresses:
          - {{ default_ns }}
      routes:
        - to: default
          via: {{ ansible_default_ipv4.gateway }}
